


      .sub-container {
          width: 100%;
        }

      form {
        display: flex;
        flex-direction: column;

        .signup {
          text-align: center;
          margin: 10px auto;

          .link {
            color: #3f51b5;
            font-weight: 500;
            cursor: pointer;
          }
        }

      }
    
